@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Lato&family=Montserrat&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.App {
  text-align: center;
}

.newsCard:hover {
  transform: translateY(-10px);
  box-shadow: 0px 2px 2px 2px rgb(97, 97, 97);
}

.calButton{
  display: flex;
  justify-content: end;
}





